/* verschiedenste Stildefinitionen */

body {
    background-image: url('pictures/campus/pc_schulungsraum.jpg');
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  section {
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  button {
    background-color: #52f346;
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    border: none; 
    cursor: pointer;
    margin-top: 20px; 
    margin-bottom: 60px; 
    outline: none; 
  }
  
  button:hover {
    background-color: #d2d2d2;
    border: none; 
  }
  
  .container {
    display: flex;
    align-items: flex-start;
  }
  
  #codeInput {
    width: 50%;
    height: 400px;
    padding: 10px;
    background-color: #000000;
    color: #5cd153;
    border: 1px solid #ccc;
    resize: none;
  }
  
  #preview {
    width: 50%;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: auto;
  }