/* verschiedenste Stildefinitionen */

body {
    background-image: url('pictures/');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh; 
}

.content {
    text-align: center;
    padding: 20px;
    color: white;
}